[Desktop Entry]
Version=1.0
Type=Application

Name=SourceDelve
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=sourcedelve

Icon=dev.sourcedelve.sourcedelve
Exec=sourcedelve %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=sourcedelve --new %F
Icon=dev.sourcedelve.sourcedelve
